@font-face {
    font-family:'Whitney';
    src:url('./Whitney-Medium.woff');
    font-weight:normal;
}
@font-face {
    font-family:'WhitneyBold';
    src:url('./Whitney-Bold.woff');
    font-weight:bold;
}
@font-face {
    font-family:'WhitneyLight';
    src:url('./Whitney-Light.woff');
    font-weight:lighter;
}
@font-face {
    font-family:'WhitneySemibold';
    src:url('./Whitney-Semibold.woff');
    font-weight:bold;
}
@font-face {
    font-family:'WhitneyBook';
    src:url('./Whitney-Book.woff');
    font-weight:bold;
}

/* HTML elements */
html,
body,
table,
form,
iframe
{
    width:100%;
    height:100%;
}
body
{
    background:#e9e8e6;
}
body,
div,
p
{
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family:Whitney,Arial;
    font-weight:normal;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
iframe{
    border:0px;
}
span {
    color:black;
    font-size:inherit;
}

/* Other slass */

.tl_0 {
    top:0px;
    left:0px;
}
.wh_100
{
    width:100%;
    height:100%;
}
.wh_a {
    width:auto;
    height:auto;
}
.w_100
{
    width:100%;
}
.w_a
{
    width:auto;
}
.h_a
{
    height:auto;
}
.h_100
{
    height:100%;
}
.t_45 {
    transform-origin:45%;
}
.p_a
{
    position:absolute;
}
.p_r
{
    position:relative;
}
.f_l
{
    float:left;
}
.ta_l
{
    text-align:left;
}
.ta_c
{
    text-align:center;
}
.ta_r
{
    text-align:right;
}
.va_m {
    vertical-align:middle;
}
.b_w
{
    background-color:white;
}
.b_r
{
    background-color:red;
}
.b_b {
    background-color:blue;
}
.b_g {
    background-color:gray;
}
.d_n
{
    display:none;
}
.d_tc {
    display:table-cell;
}
.d_ib {
    display:inline-block;
}
.d_it {
    display:inline-table;
}
.o_v {
    overflow:visible;
}
.o_h {
    overflow:hidden;
}
.v_h {
    visibility:hidden;
}
.c_b {
}
.t_u {
    text-decoration:underline;
}
.fw_b{
    font-weight:bold;
}
.active {
    opacity:100;
}
.not_active {
    opacity:50;
}
.pageHead {
    width:1280px;
    height:140px;
    padding-top:60px;
    font-family:Whitney,Arial;
    font-size:60px;
    color:white;
}
.pageBody {
    width:1280px;
    height:660px;
}
.app{
    transition:all 400ms;
}

/* ID */

#content0 {
    width:1280px;
    height:1024px;
    border:1px solid black;
    transition:all 500ms;
}
#interfaceBlocked {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
    background:black;
    opacity:0.5;
    z-index:10;
}
#services_block{
    position:absolute;
    top:0px;
    left:0px;
    width:1px;
    height:1px;
    display:none;
}
#log {
    bottom:200px;
    left:200px;
    width:880px;
    height:180px;
}

/* Удаление пунктирных рамок */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}