<div class="header">Оплата со счета Visa QIWI Wallet</div>
<div id="v-balance-payment">
    <div class="block">
        <div class="label">Спишется со счета</div>
        <div class="value"><span id="sum-val"></span> руб.</div>
    </div>
    <div class="block">
        <div class="label">Сумма платежа</div>
        <div class="value"><span id="to-provider-val"></span> руб.</div>
    </div>
    <div class="block">
        <div class="label">Комиссия</div>
        <div class="value"><span id="commission-val"></span> руб.</div>
    </div>
</div>