<div id="v-cash-payment">
    <div class="payment-container">
        <div id="cash-block" class="block">
            <div class="label"></div>
            <div class="value"></div>
            <div class="warning-bubble">Внесите еще <span class="cash-to-insert"></span> руб.</div>
        </div>
        <div id="to-provider-block" class="block">
            <div class="label"></div>
            <div class="value"></div>
        </div>
        <div id="commission-block" class="block">
            <div class="label"></div>
            <div class="value"></div>
        </div>
        <div id="change-block" class="little block">
            <div class="label"></div>
            <div class="value"></div>
        </div>
        <div id="change-commission-block" class="little block">
            <div class="label"></div>
            <div class="value"></div>
        </div>
    </div>
    <div class="commission-container hidden">
        <div class="head-block">
            <div class="label">Внесенная сумма</div>
            <div class="value">Размер комиссии</div>
        </div>
        <div class="blocks"></div>
        <div class="coin-block hidden">
            <div class="label"></div>
            <div class="value"></div>
        </div>
    </div>
    <div class="commission-button secondary-button">
        <div class="button-content">Все условия комиссии</div>
    </div>
</div>