<div class="header">Куда зачислить сдачу?</div>
<div class="comment">Сдача наличными не выдается</div>
<div class="general-buttons-container">
	<div class="button-wrapper">
		<div id="wallet-button" class="button option-button option-button-with-icon">
			<div class="button-content">
				<div class="header">На ваш кошелек</div>
				<div class="comment">Visa QIWI Wallet</div>
			</div>
		</div>
	</div>
	<div class="button-wrapper">
		<div id="mobile-button" class="button option-button option-button-with-icon">
			<div class="button-content">
				<div class="header">На ваш сотовый</div>
				<div id="change-cellular-number" class="comment">+7 (XXX) XXX XX XX</div>
			</div>
		</div>
	</div>
</div>