<div id="v-check-status">
    <div class="start-preloader preloader">
        <div class="preloader-header"></div>
        <div class="preloader-animation">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
            <div class="dot dot4"></div>
            <div class="dot dot5"></div>
            <div class="dot dot6"></div>
            <div class="dot dot7"></div>
            <div class="dot dot8"></div>
        </div>
    </div>
</div>