<div id="v-confirmation">
    <div class="wrapper">
        <table class="table">
            <tbody></tbody>
        </table>
    </div>
    <div id="change-button" class="hidden">
        <div class="button-content">Изменить данные</div>
    </div>
    <div class="oferta-message">
        Продолжая оплату, вы соглашаетесь с условиями
        <span class="button reference">оферты</span>
    </div>
	<div class="license">
		Операции по переводу денежных средств в целях погашения кредитов, пополнения счета и/или иного использования плательщиками услуг Банка, осуществляются КИВИ Банк (АО).
		Лицензия № 2241 на осуществление банковских операций в рублях и иностранной валюте со средствами физических лиц, выдана Банком России от 22.01.2015
	</div>
</div>