<div class="header">Выберите способ оплаты</div>
<div id="v-payment-method" class="general-buttons-container">
    <div class="button-wrapper">
        <div id="cash-button" class="button  option-button  option-button-with-icon">
            <div class="button-content">Наличныe деньги</div>
        </div>
    </div>
    <div class="button-wrapper">
        <div id="balance-button" class="button  option-button  option-button-with-icon">
            <div class="button-content">
                <div class='header'>Visa QIWI Wallet</div>
                <div class='comment'></div>
            </div>
        </div>
    </div>
</div>