<div class="header">Сколько нужно зачислить?</div>
<div class="general-buttons-container">
    <div class="button-wrapper">
        <div id="full-summ-button" class="button option-button">
            <div class="button-content">Всю сумму</div>
        </div>
        <div class="button-comment">
            Вся внесенная сумма будет<br/>зачислена на ваш счет<br/>за вычетом комиссии
        </div>
    </div>
    <div class="button-wrapper">
        <div id="fixed-summ-button" class="button option-button">
            <div class="button-content">Указать точную сумму</div>
        </div>
        <div class="button-comment">
            Вы можете указать точную сумму,<br/> которая будет зачислена<br/>на ваш счет
        </div>
    </div>
</div>