html,
body{
    width:100%;
    height:100%;
}
body{
    margin:0px;
    padding:0px;
    overflow:hidden;
}

#bannerBtn {
    color: #3958A9;
    font-size: 30px;
    text-decoration: underline;
    background: url('../image/ocean_bank_banner.svg') no-repeat;
    padding: 6px 0px 0px 80px;
    height: 100%;
    width: 100%;
}