html,
body{
    width:100%;
    height:100%;
    background: transparent;
}
body{
    margin:0px;
    padding:0px;
    overflow:hidden;
}

/*banner*/
#bannerBtn{
    width:410px;
    height:137px;
    padding:23px 0 0 180px;
    border:5px solid #0a4693;
    border-radius:30px 30px 50% 50%;
    font:WhitneySemibold, Arial;
    font-weight:bold;
    font-size:42px;
    text-transform:uppercase;
    text-align:left;
    color:white;
    background:url('../image/mc.png'), linear-gradient(to top, #006FB9 0%, #0B4492 100%);
    background-repeat:no-repeat;
    background-position:8% 38%;
    transition:margin 150ms;
    transition:background 150ms;
}
        #bannerBtn:active {
            margin-top:3px;
            background:url('../image/mc.png') no-repeat 8% 38%, linear-gradient(to right, #2458AA 0%, #2458AA 100%);
        }