<div class="buttons-layout">

    <div class="tf-l"></div>
    <div class="tf-c"></div>
    <div class="tf-r"></div>

    <div class="text-container">
        <div id="button-1" class="gray-button hidden">
            <div class="button-content"></div>
        </div>

        <div id="button-2" class="gray-button hidden">
            <div class="button-content"></div>
        </div>

        <div id="button-3" class="gray-button hidden">
            <div class="button-content"></div>
        </div>
    </div>

    <div id="separator" style="clear: both;"></div>
    <div id="offertus-button" class="gray-button">
        <div class="button-content">Публичная оферта</div>
    </div>
    <div id="info">
        Нажатие любой кнопки типа оплаты означает Ваше согласие с условиями Оферты в полном объеме.
    </div>

</div>