<div class="period-layout">

    <div id="erase"></div>
    <div id="dateperiod-textfield">
        <div id="textfield-1">
            <div class="text-container"></div>
            <div class="placeholder" style="left: 10px;">мм/гггг</div>
        </div>
        <div id="splitter">-</div>
        <div id="textfield-2">
            <div class="text-container"></div>
            <div class="placeholder" style="left: 10px;">мм/гггг</div>
        </div>
    </div>
    <div class="numpad">
        <table>
            <tr>
                <td id="key-1" data-code="1">1</td>
                <td id="key-2" data-code="2">2</td>
                <td id="key-3" data-code="3">3</td>
            </tr>
            <tr>
                <td id="key-4" data-code="4">4</td>
                <td id="key-5" data-code="5">5</td>
                <td id="key-6" data-code="6">6</td>
            </tr>
            <tr>
                <td id="key-7" data-code="7">7</td>
                <td id="key-8" data-code="8">8</td>
                <td id="key-9" data-code="9">9</td>
            </tr>
            <tr>
                <td id="key-0" colspan="3" data-code="0">0</td>
            </tr>
        </table>
    </div>
</div>