#head {
    top:300px;
    left:120px;
    width:1040px;
    min-height:84px;
    padding-top:10px;
    background:url('./resourses/error.png') no-repeat left;
    font-family:WhitneySemibold;
    font-size:48px;
    color:#111111;
    text-align: left;
    padding-left: 100px;
}
p {
    float:left;
    font:22px Whitney;
}
    p span {
        width:auto;
        display:inline-block;
        border-bottom:1px dotted #3958a9;
        color:#3958a9;
        font:inherit;
        transition:all 150ms;
    }
    .info-text span:active {
        opacity:0.5;
    }