/* line 5, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p551@railstutorial_rails_4_0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'WhitneyBold';
  src: url("../../../core/fonts/Whitney-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: 'WhitneyLight';
  src: url("../../../core/fonts/Whitney-Light.woff");
  font-weight: lighter;
}
@font-face {
  font-family: 'WhitneyMedium';
  src: url("../../../core/fonts/Whitney-Medium.woff");
  font-weight: normal;
}
@font-face {
  font-family: 'WhitneySemibold';
  src: url("../../../core/fonts/Whitney-Semibold.woff");
  font-weight: 600;
}
@font-face {
  font-family: 'WhitneyBook';
  src: url("../../../core/fonts/Whitney-Book.woff");
  font-weight: 100;
}
/* line 4, ../../src/scss/_buttons.scss */
.button {
  display: table;
}
/* line 7, ../../src/scss/_buttons.scss */
.button .button-content {
  display: table-cell;
  vertical-align: middle;
}
/* line 12, ../../src/scss/_buttons.scss */
.button.hidden {
  display: none;
}

/* line 17, ../../src/scss/_buttons.scss */
.button,
.option-button,
.numpad-button,
.regular-button,
.primary-button,
.popup-button {
  -moz-transition: top 100ms ease 0s, margin-top 100ms ease 0s, margin-bottom 100ms ease 0s;
  transition: top 100ms ease 0s, margin-top 100ms ease 0s, margin-bottom 100ms ease 0s;
}

/* line 84, ../../src/scss/_buttons.scss */
.numpad-button {
  width: 120px;
  height: 110px;
  background: -moz-linear-gradient(top, #0089cd 0%, #007ac2 100%);
  background: linear-gradient(to bottom, #0089cd 0%, #007ac2 100%);
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
/* line 37, ../../src/scss/_buttons.scss */
.numpad-button .button-content {
  color: #fff;
  font-size: 60px;
  line-height: 110px;
}
/* line 43, ../../src/scss/_buttons.scss */
.numpad-button .header {
  line-height: normal;
  font-size: 60px;
}
/* line 48, ../../src/scss/_buttons.scss */
.numpad-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 79, ../../src/scss/_buttons.scss */
.numpad-button .button-content {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 103, ../../src/scss/_buttons.scss */
.option-button {
  width: 500px;
  height: 160px;
  background: -moz-linear-gradient(top, #0089cd 0%, #007ac2 100%);
  background: linear-gradient(to bottom, #0089cd 0%, #007ac2 100%);
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 37, ../../src/scss/_buttons.scss */
.option-button .button-content {
  color: #fff;
  font-size: 36px;
  line-height: 160px;
}
/* line 43, ../../src/scss/_buttons.scss */
.option-button .header {
  line-height: normal;
  font-size: 36px;
}
/* line 48, ../../src/scss/_buttons.scss */
.option-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 94, ../../src/scss/_buttons.scss */
.option-button.pushed {
  background: #2458aa;
}
/* line 98, ../../src/scss/_buttons.scss */
.option-button.disabled {
  background: #4D4D4D;
}

/* line 127, ../../src/scss/_buttons.scss */
.regular-button {
  width: 280px;
  height: 110px;
  background: transparent;
  border: 3px #2458aa solid;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
/* line 37, ../../src/scss/_buttons.scss */
.regular-button .button-content {
  color: #2458aa;
  font-size: 30px;
  line-height: 110px;
}
/* line 43, ../../src/scss/_buttons.scss */
.regular-button .header {
  line-height: normal;
  font-size: 30px;
}
/* line 48, ../../src/scss/_buttons.scss */
.regular-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 114, ../../src/scss/_buttons.scss */
.regular-button.pushed {
  height: 116px;
  border: 0;
  background: #2458aa;
}
/* line 65, ../../src/scss/_buttons.scss */
.regular-button.pushed .button-content,
.regular-button.pushed .header,
.regular-button.pushed .comment {
  color: transparent;
}
/* line 121, ../../src/scss/_buttons.scss */
.regular-button.pushed .button-content {
  line-height: 116px;
}
/* line 65, ../../src/scss/_buttons.scss */
.regular-button.pushed .button-content,
.regular-button.pushed .header,
.regular-button.pushed .comment {
  color: #fff;
}
/* line 135, ../../src/scss/_buttons.scss */
.regular-button .button-content {
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 138, ../../src/scss/_buttons.scss */
.regular-button.resizeable {
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

/* line 166, ../../src/scss/_buttons.scss */
.primary-button {
  width: 286px;
  height: 116px;
  background: -moz-linear-gradient(top, #ffca00 1%, #fca600 36%, #fca600 36%, #f78300 81%, #f36407 100%);
  background: linear-gradient(to bottom, #ffca00 1%, #fca600 36%, #fca600 36%, #f78300 81%, #f36407 100%);
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0 0 #fff, 0 -1px #bd5927;
}
/* line 37, ../../src/scss/_buttons.scss */
.primary-button .button-content {
  color: #fff;
  font-size: 40px;
  line-height: 116px;
}
/* line 43, ../../src/scss/_buttons.scss */
.primary-button .header {
  line-height: normal;
  font-size: 40px;
}
/* line 48, ../../src/scss/_buttons.scss */
.primary-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 152, ../../src/scss/_buttons.scss */
.primary-button .button-content {
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 156, ../../src/scss/_buttons.scss */
.primary-button.disabled {
  background: #4D4D4D;
  text-shadow: none;
}
/* line 161, ../../src/scss/_buttons.scss */
.primary-button.pushed {
  background: #d55427;
}
/* line 168, ../../src/scss/_buttons.scss */
.primary-button.resizeable {
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

/* line 175, ../../src/scss/_buttons.scss */
.primary-underpay-button {
  width: 286px;
  height: 116px;
  background: -moz-linear-gradient(top, #ffca00 1%, #fca600 36%, #fca600 36%, #f78300 81%, #f36407 100%);
  background: linear-gradient(to bottom, #ffca00 1%, #fca600 36%, #fca600 36%, #f78300 81%, #f36407 100%);
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0 0 #fff, 0 -1px #bd5927;
}
/* line 37, ../../src/scss/_buttons.scss */
.primary-underpay-button .button-content {
  color: #fff;
  font-size: 40px;
  line-height: 116px;
}
/* line 43, ../../src/scss/_buttons.scss */
.primary-underpay-button .header {
  line-height: normal;
  font-size: 40px;
}
/* line 48, ../../src/scss/_buttons.scss */
.primary-underpay-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 152, ../../src/scss/_buttons.scss */
.primary-underpay-button .button-content {
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 156, ../../src/scss/_buttons.scss */
.primary-underpay-button.disabled {
  background: #4D4D4D;
  text-shadow: none;
}
/* line 161, ../../src/scss/_buttons.scss */
.primary-underpay-button.pushed {
  background: #d55427;
}
/* line 179, ../../src/scss/_buttons.scss */
.primary-underpay-button .button-content {
  line-height: 40px;
  margin-top: 18px;
}

/* line 248, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow {
  width: 220.08px;
  position: relative;
  border-left: 0;
}
/* line 193, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow,
.regular-button.regular-button-left-arrow .button-content {
  z-index: 2;
}
/* line 198, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow .button-content:before {
  z-index: -1;
  content: ' ';
  border-radius: 13px;
  height: 85px;
  width: 83px;
  position: absolute;
  top: 10.5px;
  -moz-transform: rotateY(55deg) rotateZ(-45deg);
  transform: rotateY(55deg) rotateZ(-45deg);
}
/* line 213, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow.pushed .button-content:before {
  background: #2458aa;
  top: 14.5px;
}
/* line 219, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 235, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow .button-content:before {
  border-left: 4.5px #2458aa solid;
  border-top: 4.5px #2458aa solid;
  left: -38px;
}
/* line 242, ../../src/scss/_buttons.scss */
.regular-button.regular-button-left-arrow.pushed .button-content {
  padding-right: 3px;
}

/* line 298, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow {
  width: 290.82px;
  position: relative;
}
/* line 193, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow,
.primary-button.primary-button-right-arrow .button-content {
  z-index: 2;
}
/* line 198, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow .button-content:before {
  z-index: -1;
  content: ' ';
  border-radius: 13px;
  height: 85px;
  width: 83px;
  position: absolute;
  top: 16.5px;
  -moz-transform: rotateY(55deg) rotateZ(-45deg);
  transform: rotateY(55deg) rotateZ(-45deg);
}
/* line 213, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow.pushed .button-content:before {
  background: none;
  top: 17.5px;
}
/* line 219, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 283, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow .button-content:before {
  right: -38px;
  background: -moz-linear-gradient(225deg, #ffca00 1%, #fca600 36%, #fca600 36%, #f78300 81%, #f36407 100%);
  background: linear-gradient(-135deg, #ffca00 1%, #fca600 36%, #fca600 36%, #f78300 81%, #f36407 100%);
}
/* line 288, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow.pushed .button-content:before {
  background: #d55427;
}
/* line 292, ../../src/scss/_buttons.scss */
.primary-button.primary-button-right-arrow.disabled .button-content:before {
  background: #4D4D4D;
}

/* line 328, ../../src/scss/_buttons.scss */
.erase-button {
  width: 35.37px;
  position: relative;
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 45px;
  height: 80px;
  background: -moz-linear-gradient(top, #0089cd 0%, #007ac2 100%);
  background: linear-gradient(to bottom, #0089cd 0%, #007ac2 100%);
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
/* line 193, ../../src/scss/_buttons.scss */
.erase-button,
.erase-button .button-content {
  z-index: 2;
}
/* line 198, ../../src/scss/_buttons.scss */
.erase-button .button-content:before {
  z-index: -1;
  content: ' ';
  border-radius: 13px;
  height: 59px;
  width: 57px;
  position: absolute;
  top: 11.5px;
  -moz-transform: rotateY(55deg) rotateZ(-45deg);
  transform: rotateY(55deg) rotateZ(-45deg);
}
/* line 213, ../../src/scss/_buttons.scss */
.erase-button.pushed .button-content:before {
  background: none;
  top: 12.5px;
}
/* line 219, ../../src/scss/_buttons.scss */
.erase-button.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 310, ../../src/scss/_buttons.scss */
.erase-button .button-content:before {
  left: -25px;
  background: -moz-linear-gradient(225deg, #0089cd 0%, #007ac2 100%);
  background: linear-gradient(-135deg, #0089cd 0%, #007ac2 100%);
}
/* line 315, ../../src/scss/_buttons.scss */
.erase-button.pushed .button-content:before {
  background: #2458aa;
}
/* line 319, ../../src/scss/_buttons.scss */
.erase-button.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 335, ../../src/scss/_buttons.scss */
.erase-button.pushed {
  bottom: -10px;
}
/* line 37, ../../src/scss/_buttons.scss */
.erase-button .button-content {
  color: #fff;
  font-size: 24px;
  line-height: 80px;
}
/* line 43, ../../src/scss/_buttons.scss */
.erase-button .header {
  line-height: normal;
  font-size: 24px;
}
/* line 48, ../../src/scss/_buttons.scss */
.erase-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 344, ../../src/scss/_buttons.scss */
.erase-button.pushed {
  background: #2458aa;
}
/* line 348, ../../src/scss/_buttons.scss */
.erase-button .button-content {
  text-transform: uppercase;
  margin: 7px;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 358, ../../src/scss/_buttons.scss */
.custom-left-arrow-button {
  width: 168px;
  height: 66px;
  background: transparent;
  border: 3px #2458aa solid;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  width: 132.048px;
  position: relative;
  border-left: 0;
}
/* line 37, ../../src/scss/_buttons.scss */
.custom-left-arrow-button .button-content {
  color: #2458aa;
  font-size: 18px;
  line-height: 66px;
}
/* line 43, ../../src/scss/_buttons.scss */
.custom-left-arrow-button .header {
  line-height: normal;
  font-size: 18px;
}
/* line 48, ../../src/scss/_buttons.scss */
.custom-left-arrow-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 114, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.pushed {
  height: 72px;
  border: 0;
  background: #2458aa;
}
/* line 65, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.pushed .button-content,
.custom-left-arrow-button.pushed .header,
.custom-left-arrow-button.pushed .comment {
  color: transparent;
}
/* line 121, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.pushed .button-content {
  line-height: 72px;
}
/* line 65, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.pushed .button-content,
.custom-left-arrow-button.pushed .header,
.custom-left-arrow-button.pushed .comment {
  color: #fff;
}
/* line 193, ../../src/scss/_buttons.scss */
.custom-left-arrow-button,
.custom-left-arrow-button .button-content {
  z-index: 2;
}
/* line 198, ../../src/scss/_buttons.scss */
.custom-left-arrow-button .button-content:before {
  z-index: -1;
  content: ' ';
  border-radius: 13px;
  height: 53px;
  width: 51px;
  position: absolute;
  top: 4.5px;
  -moz-transform: rotateY(55deg) rotateZ(-45deg);
  transform: rotateY(55deg) rotateZ(-45deg);
}
/* line 213, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.pushed .button-content:before {
  background: #2458aa;
  top: 8.5px;
}
/* line 219, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 235, ../../src/scss/_buttons.scss */
.custom-left-arrow-button .button-content:before {
  border-left: 4.5px #2458aa solid;
  border-top: 4.5px #2458aa solid;
  left: -22px;
}
/* line 242, ../../src/scss/_buttons.scss */
.custom-left-arrow-button.pushed .button-content {
  padding-right: 3px;
}

/* line 397, ../../src/scss/_buttons.scss */
.option-button.option-button-with-icon {
  padding-left: 165px;
  text-align: left;
  position: relative;
}
/* line 385, ../../src/scss/_buttons.scss */
.option-button.option-button-with-icon:before {
  content: ' ';
  position: absolute;
  left: 40px;
  top: 37.5px;
  width: 85px;
  height: 85px;
  border-radius: 42.5px;
}

/* line 426, ../../src/scss/_buttons.scss */
.white-button {
  width: 560px;
  height: 132px;
  background: #fff;
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  -moz-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 37, ../../src/scss/_buttons.scss */
.white-button .button-content {
  color: #111;
  font-size: 34px;
  line-height: 132px;
}
/* line 43, ../../src/scss/_buttons.scss */
.white-button .header {
  line-height: normal;
  font-size: 34px;
}
/* line 48, ../../src/scss/_buttons.scss */
.white-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 55, ../../src/scss/_buttons.scss */
.white-button.pushed {
  opacity: 0.7;
}
/* line 433, ../../src/scss/_buttons.scss */
.white-button .button-content {
  line-height: 46px;
  text-align: left;
}
/* line 438, ../../src/scss/_buttons.scss */
.white-button .button-content strong {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 442, ../../src/scss/_buttons.scss */
.white-button .button-content i {
  font-size: 26px;
  color: #4D4D4D;
  line-height: normal;
}

/* line 2, ../../src/scss/_language.scss */
#language-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 5, ../../src/scss/_language.scss */
#language-page #header {
  text-align: center;
  position: absolute;
  top: 240px;
  width: 100%;
  font-size: 60px;
}
/* line 13, ../../src/scss/_language.scss */
#language-page #lang-buttons {
  position: absolute;
  top: 380px;
  width: 100%;
  margin-left: 23px;
}
/* line 19, ../../src/scss/_language.scss */
#language-page .button-content {
  padding-left: 10px;
  font-size: 48px;
}
/* line 24, ../../src/scss/_language.scss */
#language-page #left-button {
  position: absolute;
  margin-left: 150px;
  left: 0%;
  width: 50%;
}
/* line 31, ../../src/scss/_language.scss */
#language-page #left-button .option-button-with-icon:before {
  width: 100px;
  height: 100px;
  margin-top: -6px;
  background: transparent url("../../transpayments/img/flag/ru.png") no-repeat scroll center center;
}
/* line 39, ../../src/scss/_language.scss */
#language-page #right-button {
  position: absolute;
  margin-left: 190px;
  right: -1%;
  width: 50%;
}
/* line 45, ../../src/scss/_language.scss */
#language-page #right-button .option-button-with-icon:before {
  width: 100px;
  height: 100px;
  margin-top: -6px;
  background: transparent url("../../transpayments/img/flag/tj.png") no-repeat scroll center center;
}
/* line 53, ../../src/scss/_language.scss */
#language-page .oferta-message {
  position: absolute;
  top: 600px;
  width: 1280px;
  font-size: 24px;
  text-align: center;
  vertical-align: baseline;
}
/* line 61, ../../src/scss/_language.scss */
#language-page .oferta-message .button {
  display: inline;
  color: #3958a9;
  border-bottom: 1px dotted #3958a9;
}
/* line 66, ../../src/scss/_language.scss */
#language-page .oferta-message .button.pushed {
  color: #111;
  border-bottom: 1px dotted #111;
}
/* line 71, ../../src/scss/_language.scss */
#language-page .oferta-message .button .button-content {
  display: inline;
  vertical-align: baseline;
}

/* line 1, ../../src/scss/_confirm.scss */
#confirm-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 5, ../../src/scss/_confirm.scss */
#confirm-page .head {
  position: absolute;
  top: 147px;
  text-align: center;
  font-size: 60px;
  width: 900px;
  margin-left: 180px;
}
/* line 15, ../../src/scss/_confirm.scss */
#confirm-page .main {
  position: absolute;
  top: 288px;
}
/* line 21, ../../src/scss/_confirm.scss */
#confirm-page .itemsBackground {
  background: #FFB82A none repeat scroll 0% 0%;
  padding-bottom: 84px;
  padding-top: 75px;
  width: 100%;
}
/* line 28, ../../src/scss/_confirm.scss */
#confirm-page .confirmItem {
  position: relative;
  width: 1280px;
  margin-top: 15px;
}
/* line 32, ../../src/scss/_confirm.scss */
#confirm-page .confirmItem .label {
  font-size: 35px;
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: right;
  width: 50%;
  position: absolute;
  white-space: pre-wrap;
}
/* line 40, ../../src/scss/_confirm.scss */
#confirm-page .confirmItem .value {
  font-size: 35px;
  text-align: left;
  width: 600px;
  position: relative;
  left: 50%;
  margin-left: 50px;
  white-space: pre-wrap;
}
/* line 51, ../../src/scss/_confirm.scss */
#confirm-page .oferta-message {
  position: relative;
  font-size: 24px;
  text-align: center;
  vertical-align: baseline;
  width: 900px;
  margin-top: 57px;
  margin-left: 180px;
}
/* line 60, ../../src/scss/_confirm.scss */
#confirm-page .oferta-message .button {
  display: inline;
  color: #3958a9;
  border-bottom: 1px dotted #3958a9;
}
/* line 65, ../../src/scss/_confirm.scss */
#confirm-page .oferta-message .button.pushed {
  color: #111;
  border-bottom: 1px dotted #111;
}
/* line 70, ../../src/scss/_confirm.scss */
#confirm-page .oferta-message .button .button-content {
  display: inline;
  vertical-align: baseline;
}

/* line 1, ../../src/scss/_pay.scss */
#pay-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 4, ../../src/scss/_pay.scss */
#pay-page .head {
  position: absolute;
  top: 80px;
  text-align: center;
  font-size: 60px;
  width: 100%;
}
/* line 13, ../../src/scss/_pay.scss */
#pay-page .limits {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 24px;
  top: 160px;
  height: 40px;
}
/* line 22, ../../src/scss/_pay.scss */
#pay-page .forbidden {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 24px;
  top: 195px;
  height: 40px;
}
/* line 31, ../../src/scss/_pay.scss */
#pay-page .main {
  position: absolute;
  top: 238px;
  background: transparent linear-gradient(to bottom, #0e4394 0%, #0080c6 100%) repeat scroll 0% 0%;
  text-align: center;
  font-size: 22px;
  height: 277px;
  width: 100%;
}
/* line 41, ../../src/scss/_pay.scss */
#pay-page .commiss-button {
  position: absolute;
  top: 530px;
  left: 920px;
  margin: 20px 50px 0 0;
  float: right;
  width: 260px;
  height: 70px;
  background: -moz-linear-gradient(top, #0089cd 0%, #007ac2 100%);
  background: linear-gradient(to bottom, #0089cd 0%, #007ac2 100%);
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #b1ceee;
}
/* line 37, ../../src/scss/_buttons.scss */
#pay-page .commiss-button .button-content {
  color: #fff;
  font-size: 20px;
  line-height: 70px;
}
/* line 43, ../../src/scss/_buttons.scss */
#pay-page .commiss-button .header {
  line-height: normal;
  font-size: 20px;
}
/* line 48, ../../src/scss/_buttons.scss */
#pay-page .commiss-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 94, ../../src/scss/_buttons.scss */
#pay-page .commiss-button.pushed {
  background: #2458aa;
}
/* line 98, ../../src/scss/_buttons.scss */
#pay-page .commiss-button.disabled {
  background: #4D4D4D;
}
/* line 65, ../../src/scss/_buttons.scss */
#pay-page .commiss-button .button-content,
#pay-page .commiss-button .header,
#pay-page .commiss-button .comment {
  color: #111;
}
/* line 52, ../../src/scss/_pay.scss */
#pay-page .commiss-button .button-content {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 56, ../../src/scss/_pay.scss */
#pay-page .commiss-button.pushed {
  background: #b1ceee;
  opacity: 0.7;
}
/* line 62, ../../src/scss/_pay.scss */
#pay-page .rateInfo {
  position: absolute;
  top: 633px;
  font-size: 24px;
  text-align: left;
  left: 920px;
  height: 40px;
  width: 300px;
}
/* line 75, ../../src/scss/_pay.scss */
#pay-page .moneyItem {
  position: relative;
  width: 1280px;
  margin-top: 35px;
  height: 50px;
}
/* line 80, ../../src/scss/_pay.scss */
#pay-page .moneyItem .warning {
  background: transparent url("../../transpayments/img/alarm.png") no-repeat scroll;
  position: absolute;
  height: 140%;
  width: 140%;
  left: 102px;
}
/* line 87, ../../src/scss/_pay.scss */
#pay-page .moneyItem .label {
  font-size: 48px;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
  width: 50%;
  position: absolute;
  white-space: pre;
  margin-left: 189px;
}
/* line 98, ../../src/scss/_pay.scss */
#pay-page .moneyItem .value {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  left: 35%;
  margin-left: 20px;
  white-space: pre;
}
/* line 103, ../../src/scss/_pay.scss */
#pay-page .moneyItem .value .money {
  font-size: 48px;
  text-align: right;
  color: #ffffff;
  height: 50px;
  float: right;
  margin-right: 145px;
}
/* line 111, ../../src/scss/_pay.scss */
#pay-page .moneyItem .value .bubble {
  text-align: right;
  height: 30px;
  padding-top: 12px;
  font-size: 20px;
  background: #ffb82a;
  color: #111;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 3px;
  float: right;
  margin-right: 30px;
  position: relative;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 126, ../../src/scss/_pay.scss */
#pay-page .moneyItem .value .bubble:before {
  content: ' ';
  background: #ffb82a;
  position: absolute;
  width: 16px;
  height: 16px;
  right: -7px;
  top: 12px;
  -moz-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 140, ../../src/scss/_pay.scss */
.popupContents {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 77px;
}
/* line 143, ../../src/scss/_pay.scss */
.popupContents .title-commis {
  text-align: center;
  margin-bottom: 12px;
  margin-top: -56px;
  height: 46px;
  font-size: 45px;
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 151, ../../src/scss/_pay.scss */
.popupContents .items {
  margin-bottom: -53px;
  margin-top: 32px;
}

/* line 157, ../../src/scss/_pay.scss */
.popupCommissItem {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  height: 28px;
  margin-left: 376px;
}
/* line 163, ../../src/scss/_pay.scss */
.popupCommissItem .summ {
  text-align: left;
  float: left;
  width: 300px;
}
/* line 169, ../../src/scss/_pay.scss */
.popupCommissItem .summ.item-title {
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
/* line 174, ../../src/scss/_pay.scss */
.popupCommissItem .commiss {
  text-align: left;
  float: left;
}
/* line 179, ../../src/scss/_pay.scss */
.popupCommissItem .commiss.item-title {
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

/* line 1, ../../src/scss/_account.scss */
#account-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  height: 900px;
  -moz-box-pack: start;
  width: 1280px;
}
/* line 7, ../../src/scss/_account.scss */
#account-page > :first-child {
  margin: 85px 0 40px;
}
/* line 11, ../../src/scss/_account.scss */
#account-page .textfield {
  margin-top: 68px;
}
/* line 16, ../../src/scss/_account.scss */
#account-page .textfield .field .text-container > :first-child {
  right: 20%;
  min-width: 70%;
  float: right;
}

/* line 28, ../../src/scss/_account.scss */
#content #header .main {
  padding-top: 58px;
  margin-top: 1px;
  width: 900px;
  margin-left: 8px;
}

/* line 1, ../../src/scss/_phone.scss */
#phone-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  height: 900px;
  -moz-box-pack: start;
  width: 1280px;
}
/* line 9, ../../src/scss/_phone.scss */
#phone-page .textfield {
  margin: 40px;
  font-size: 60px;
}
/* line 13, ../../src/scss/_phone.scss */
#phone-page .keyboard .button-content {
  font-size: 60px;
}
/* line 18, ../../src/scss/_phone.scss */
#phone-page .header {
  width: 900px;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 22, ../../src/scss/_phone.scss */
#phone-page .header .provider {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #4D4D4D;
}
/* line 31, ../../src/scss/_phone.scss */
#phone-page .header .header {
  padding-top: 58px;
  margin-top: -57px;
  width: 900px;
  margin-left: 8px;
  text-align: center;
  font-size: 60px;
  width: 100%;
}

/* line 1, ../../src/scss/_final.scss */
#final-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 4, ../../src/scss/_final.scss */
#final-page .logo {
  background: transparent url("../../../core/img/qiwi_big.png") no-repeat scroll 0% 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  float: left;
  top: 239px;
  left: 600px;
}
/* line 13, ../../src/scss/_final.scss */
#final-page .errorText {
  top: 440px;
  height: 300px;
  position: absolute;
}
/* line 17, ../../src/scss/_final.scss */
#final-page .errorText .icon {
  background: transparent url("../../transpayments/img/error.png") no-repeat scroll 0% 0%;
  height: 85px;
  width: 85px;
  left: 206px;
  position: relative;
}
/* line 25, ../../src/scss/_final.scss */
#final-page .errorText .desc {
  font-size: 40px;
  white-space: pre-wrap;
  text-align: left;
  left: 322px;
  width: 80%;
  position: relative;
  height: 200px;
  float: left;
  margin-top: -90px;
}

/* line 1, ../../src/scss/_offertus.scss */
#offertus-page {
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 10, ../../src/scss/_offertus.scss */
#offertus-page .header .provider {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #4D4D4D;
}
/* line 20, ../../src/scss/_offertus.scss */
#offertus-page .header .header {
  padding-top: 58px;
  margin-top: -57px;
  width: 900px;
  margin-left: 8px;
  text-align: center;
  font-size: 60px;
  width: 100%;
}
/* line 35, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button {
  width: 190px;
  height: 95px;
  background: transparent;
  border: 3px #2458aa solid;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
/* line 37, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button .button-content {
  color: #2458aa;
  font-size: 20px;
  line-height: 95px;
}
/* line 43, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button .header {
  line-height: normal;
  font-size: 20px;
}
/* line 48, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button .comment {
  line-height: normal;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/* line 114, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button.pushed {
  height: 101px;
  border: 0;
  background: #2458aa;
}
/* line 65, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button.pushed .button-content,
#offertus-page .offertus-arrow-button.pushed .header,
#offertus-page .offertus-arrow-button.pushed .comment {
  color: transparent;
}
/* line 121, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button.pushed .button-content {
  line-height: 101px;
}
/* line 65, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button.pushed .button-content,
#offertus-page .offertus-arrow-button.pushed .header,
#offertus-page .offertus-arrow-button.pushed .comment {
  color: #fff;
}
/* line 42, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button.disabled {
  opacity: .3;
}
/* line 47, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button-left {
  width: 149.34px;
  position: relative;
  border-left: 0;
}
/* line 193, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-left,
#offertus-page .offertus-arrow-button-left .button-content {
  z-index: 2;
}
/* line 198, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-left .button-content:before {
  z-index: -1;
  content: ' ';
  border-radius: 13px;
  height: 74px;
  width: 72px;
  position: absolute;
  top: 8.5px;
  -moz-transform: rotateY(55deg) rotateZ(-45deg);
  transform: rotateY(55deg) rotateZ(-45deg);
}
/* line 213, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-left.pushed .button-content:before {
  background: #2458aa;
  top: 12.5px;
}
/* line 219, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-left.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 235, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-left .button-content:before {
  border-left: 4.5px #2458aa solid;
  border-top: 4.5px #2458aa solid;
  left: -33px;
}
/* line 242, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-left.pushed .button-content {
  padding-right: 3px;
}
/* line 51, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button-right {
  width: 149.34px;
  position: relative;
  border-right: 0;
}
/* line 193, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-right,
#offertus-page .offertus-arrow-button-right .button-content {
  z-index: 2;
}
/* line 198, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-right .button-content:before {
  z-index: -1;
  content: ' ';
  border-radius: 13px;
  height: 74px;
  width: 72px;
  position: absolute;
  top: 8.5px;
  -moz-transform: rotateY(55deg) rotateZ(-45deg);
  transform: rotateY(55deg) rotateZ(-45deg);
}
/* line 213, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-right.pushed .button-content:before {
  background: #2458aa;
  top: 12.5px;
}
/* line 219, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-right.disabled .button-content:before {
  background: #4D4D4D;
  border-color: #4D4D4D;
}
/* line 262, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-right .button-content:before {
  border-right: 4.5px #2458aa solid;
  border-bottom: 4.5px #2458aa solid;
  right: -33px;
}
/* line 269, ../../src/scss/_buttons.scss */
#offertus-page .offertus-arrow-button-right.pushed .button-content {
  padding-left: 3px;
}
/* line 57, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button-left .button-content:before,
#offertus-page .offertus-arrow-button-right .button-content:before {
  top: 11px;
}
/* line 61, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button-left .button-content.pushed,
#offertus-page .offertus-arrow-button-right .button-content.pushed {
  width: 160px;
}
/* line 64, ../../src/scss/_offertus.scss */
#offertus-page .offertus-arrow-button-left.disabled .button-content:before,
#offertus-page .offertus-arrow-button-right.disabled .button-content:before {
  border-color: #2458aa;
}
/* line 69, ../../src/scss/_offertus.scss */
#offertus-page #left-button,
#offertus-page #right-button {
  position: absolute;
  top: 375px;
}
/* line 417, ../../src/scss/_buttons.scss */
#offertus-page #left-button.pushed,
#offertus-page #right-button.pushed {
  top: 378px;
}
/* line 75, ../../src/scss/_offertus.scss */
#offertus-page #left-button {
  left: 80px;
}
/* line 79, ../../src/scss/_offertus.scss */
#offertus-page #right-button {
  right: 80px;
}
/* line 83, ../../src/scss/_offertus.scss */
#offertus-page .offertus-container {
  margin-top: 50px;
  margin-left: 330px;
  width: 630px;
  height: 630px;
  overflow: hidden;
}
/* line 90, ../../src/scss/_offertus.scss */
#offertus-page .offertus-container .offertus-content {
  height: 50000px;
  position: relative;
  transition: margin-top 500ms ease 0s;
}
/* line 95, ../../src/scss/_offertus.scss */
#offertus-page .offertus-container .offertus-content,
#offertus-page .offertus-container .offertus-content font {
  line-height: normal;
  font-size: 14px;
  font-family: "WhitneyMedium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000;
}
/* line 103, ../../src/scss/_offertus.scss */
#offertus-page .offertus-container .offertus-content b {
  line-height: normal;
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
