@font-face {
    font-family:'WhitneyLight';
    src:url('../fonts/Whitney-Light.woff');
    font-weight:lighter;
}

html,
body{
    width:100%;
    height:100%;
}
body{
    margin:0px;
    padding:0px;
    overflow:hidden;
    background:url('../image/background.png') repeat;
}

/*banner*/
#place{
    float:left;
    width:2000px;
    height:540px;
    transition:all 700ms;
}
#thanks{
    position:relative;
    float:left;
    width:1000px;
    height:100%;
    text-align:center;
    transform:rotate(180deg);
}
#thanks td{
    font-family:WhitneyLight;
    font-size:62px;
    color:white;
}
#bannerBtn{
    position:relative;
    float:left;
    width:1000px;
    height:100%;
    background:url('../image/banner.png') no-repeat;
    background-position:top center;
}
#closeBtn{
    position:absolute;
    top:20px;
    right:20px;
    width:128px;
    height:128px;
    background:url('../image/closel.png') no-repeat center;
    visibility:hidden;
    opacity:0;
    transition:all 800ms;
}
#helpBtn{
    position:absolute;
    bottom:50px;
    left:370px;
    padding:10px;
    background-color:#E65100;
    font-family:WhitneyLight;
    font-size:42px;
    text-align:center;
    color:white;
}
#payLine {
    position:absolute;
    bottom:50px;
    left:0px;
    width:1100px;
    height:70px;
    transition:all 1000ms;
}
#payText{
    position:absolute;
    bottom:0px;
    left:0px;
    width:500px;
    height:50px;
    font-family:WhitneyLight;
    font-size:42px;
    text-align:right;
    color:white;
    visibility:hidden;
}
#payAmount{
    position:absolute;
    bottom:0px;
    left:520px;
    width:200px;
    height:70px;
    font-family:WhitneyLight;
    font-size:62px;
    text-align:right;
    color:white;
    visibility:hidden;
}
#payNom{
    position:absolute;
    bottom:0px;
    left:730px;
    width:auto;
    height:50px;
    font-family:WhitneyLight;
    font-size:42px;
    text-align:left;
    color:white;
    visibility:hidden;
}
#payBtn{
    position:absolute;
    bottom:0px;
    left:815px;
    padding:10px;
    background-color:#E65100;
    font-family:WhitneyLight;
    font-size:42px;
    text-align:center;
    color:white;
    visibility:hidden;
    opacity:0;
    transition:all 1000ms;
}
#test{
    position:absolute;
    top:20px;
    left:20px;
    width:20px;
    height:20px;
    background:black;
    display:none;
}
