<div class="buttons-layout">
	<div class="hidden" id="info-button"></div>
	<div id="layout-buttons-container">
		<div class="button-row">
			<div id="option-button-0" class="button option-button hidden">
				<div class="button-content"></div>
			</div>
			<div id="option-button-1" class="button option-button hidden">
				<div class="button-content"></div>
			</div>
		</div>
		<div class="button-row">
			<div id="option-button-2" class="button option-button hidden">
				<div class="button-content"></div>
			</div>
			<div id="option-button-3" class="button option-button hidden">
				<div class="button-content"></div>
			</div>
		</div>
	</div>
</div>