<div class="welcome-layout">
	<div class="hidden" id="info-button"></div>
	<div class="buttons-container" id="layout-buttons-container">
		<div class="button-row">
			<div id="option-button-0" class="button option-button option-button-with-icon hidden">
				<div class="button-content"></div>
			</div>
			<div id="option-button-1" class="button option-button option-button-with-icon hidden">
				<div class="button-content"></div>
			</div>
		</div>
		<div class="button-row">
			<div id="option-button-2" class="button option-button option-button-with-icon hidden">
				<div class="button-content"></div>
			</div>
			<div id="option-button-3" class="button option-button option-button-with-icon hidden">
				<div class="button-content"></div>
			</div>
		</div>
	</div>
	<div class="calc-message">
		<span class="reference">Комиссия</span>
		<span class="commission"></span>
		<span class="time"></span>
	</div>
</div>